.error-container{
    padding-top:10% ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.control-error {
    color: #ffca99;
    font-size: 0.8rem;
    height: 2rem;
    padding: 0.5rem 0;
  }
  