@import "config";


@mixin transition-ease {
    transition: all 0.5s ease-in-out;
  }

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.header{}

.nav{
    visibility: visible;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 10%;
    background: $primary-color;
    
    &.open {
        visibility: visible;
     }
    .actions{
        display: flex;
        gap :20px;
        &.open {
            transform: translateY(0);
          }
    }
    img{
        height: 5.5rem;
    }
    a{
        color:$secondary-color;
        text-decoration-line: none;
    }
}
.menu-btn {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    right: 1rem;
    top: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
  
    &__burger {
      position: absolute;
      right: 0;
      top: 0.5rem;
      width: 28px;
      height: 3px;
      background:$secondary-color;
  
      &::before {
        content: '';
        position: absolute;
        top: -8px;
        width: 28px;
        height: 3px;
        background: $secondary-color;
      }
  
      &::after {
        content: '';
        position: absolute;
        top: 8px;
        width: 20px;
        height: 3px;
        background:$secondary-color;
      }
  
    }
  }
@include media-md{
  .menu-btn{
    visibility: visible;
  }
  .header{
    position: absolute;
  }
  .nav{
    background-color:#3aafa9e5;
    visibility: hidden;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    .actions{
      flex-direction: column;
      a{font-size: 1.5rem;}
    }
    .sign-btn{
      margin-top: 20px;
      font-size: 1.5rem;
    }
    img{
     position: absolute;
     top:0
    }
  }
}

.layout{
    padding:4% 20%;
}
.home{
    padding: 5%;
    border-left:solid 2px $primary-color;
    border-right:solid 2px $primary-color;
    height: 100vh;
}
.modal{
  border: none;
  width: 400px;
  min-width: 400px;
  
}
.form-container{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}
dialog::backdrop {
  background-color: rgba(157, 158, 155, 0.37);
}