
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
.root{

}

.header {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 10%;
  background: #3AAFA9;
}

.header .actions{
  display: flex;
  gap :20px;
}
.header img{
  height: 5.5rem;
}
main{
  padding: 5% 20%;
}
.layout{
  padding:4% 20%;
}
.header a{
  color: #17252A;
  text-decoration-line: none;
}